doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Mozaik
    block stylesheets
      link(rel='stylesheet' href='/dist/style.css?rand='+Math.random())
  body
    #nav(class=(currentPath === '/' ? 'clear' : ''))
        .navbar
          .discover
            a(href='#') discover
          .logo
            a(href='/') mozaik
          .links
            a(href='#') profile
            a(href='#') search
            #open-menu
              span
              span
              span
              span
    #menu.hidden
      .menu-content
        ul
          h3.menu-heading for students
          li
            a(href='#') discover
            .border
          li
            a(href='#') study areas
            .border
          li
            a(href='#') education
            .border
          li
            a(href='#') sign up
            .border
        ul
          h3 for schools
          li
            a(href='#') why mozaik?
            .border
          li
            a(href='#') education agent
            .border
          li
            a(href='#') sign up
            .border
        ul
          h3 about mozaik
          li
            a(href='#') who is mozaik
            .border
          li
            a(href='#') contact us
            .border

    if locals.flashes
      - const categories = Object.keys(locals.flashes)
      each category in categories
        each message in flashes[category]
          div(class=`alert-${ category }`)!= h.dump(message)

    div(class=(currentPath === '/' ? '' : 'content'))
      block content

    // TODO footer

    block javascripts
      script(src="https://code.jquery.com/jquery-3.2.1.min.js")
      script(src='/dist/App.bundle.js?rand='+Math.random())
