doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Mozaik
    block stylesheets
      link(rel='stylesheet' href='/dist/style.css?rand='+Math.random())
      link(rel='stylesheet' href='/dist/react-sliding-pane.css?rand='+Math.random())
    // TODO get api key
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDBDdJp6QvUCwioKrVs-42b8l8kOVqGqNY')
  body
    // React component for menu
    !=menu

    if locals.flashes
      - const categories = Object.keys(locals.flashes)
      each category in categories
        each message in flashes[category]
          div(class=`alert-${ category }`)!= h.dump(message)

    div(class=(currentPath === '/' ? 'content' : ''))
      block content

    // TODO footer
    .footer
      .links
        ul
          h4 for students
          li
            a(href='#') Discover
          li
            a(href='#') Study Areas
          li
            a(href='#') Education
          li
            a(href='#') Sign Up
        ul
          h4 for schools
          li
            a(href='#') Why Mozaik?
          li
            a(href='#') Education Agent
          li
            a(href='#') Sign Up
        ul
          h4 about mozaik
          li
            a(href='#') Who is Mozaik
          li
            a(href='#') Contact Us  
      .social
        // TODO
        .links
            ul 
              li Sign up to our Newsletter 

        a(href='#')
          img.img-resp(src='/images/social-icons/sm-facebook.png') 
        a(href='#')
          img.img-resp(src='/images/social-icons/sm-youtube.png')
        a(href='#')
          img.img-resp(src='/images/social-icons/sm-instagram.png')
        a(href='#')
          img.img-resp(src='/images/social-icons/sm-snapchat.png')
        a(href='#')
          img.img-resp(src='/images/social-icons/sm-pinterest.png')
        a(href='#')
          img.img-resp(src='/images/social-icons/sm-twitter.png')
        a(href='#')
          img.img-resp(src='/images/social-icons/sm-linked-in.png')
        p.copyright= `© copyright ${(new Date()).getFullYear()} mozaik creative  |  site design by bloq`

    block javascripts
      script(src='/dist/App.bundle.js?rand='+Math.random())
      script(src='/dist/reactHelper.bundle.js')
      script(src='/dist/smooth-scroll.min.js')
      script.
        var scroll = new SmoothScroll('.scroll-search-link');
