doctype html
html(lang='en')
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-109150718-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109150718-2');

    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Mozaik
    block stylesheets
    <link >
      link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css", integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4", crossorigin="anonymous")
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
      link(rel='stylesheet' href='/dist/style.css?rand='+Math.random())
      link(rel='stylesheet' href='/dist/react-sliding-pane.css?rand='+Math.random())
    // TODO get api key
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDBDdJp6QvUCwioKrVs-42b8l8kOVqGqNY')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
  body
    // React component for menu
    !=menu

    if locals.flashes
      - const categories = Object.keys(locals.flashes)
      each category in categories
        each message in flashes[category]
          div(class=`alert-${ category }`)!= h.dump(message)

    div(class=(currentPath === '/' ? 'content' : ''))
      block content  
      
    // TODO footer
        
    .footer(class='d-none d-lg-block')
      .links
        ul
          h4 for students
          li
            a(href='/search') Discover
          li
            a(href='/study-area') Study Areas
          li
            a(href='/agency-mozaik') Education Agent
          li
            a(href='#' onclick="eForm()" class='signup') Sign Up
        ul
          h4 for schools
          li
            a(href='/partner-with-mozaik') Why Mozaik?
          li
            a(href='/agency-mozaik') Education Agent
          li
            a(href='#' onclick="eForm()" class='signup') Sign Up
        ul
          h4 about mozaik
          li
            a(href='/about-us') Who is Mozaik
          li
            a(href='/partner-with-mozaik') Contact Us  
      .social
        // TODO

        .links
          ul
            h4 for students
            li
              a(href='/search') Discover
            li
              a(href='/study-area') Study Areas
            li
              a(href='/agency-mozaik') Education Agent
            li
              a(href='#' onclick="eForm()" class='signup') Sign Up
          ul
            h4 for schools
            li
              a(href='/partner-with-mozaik') Why Mozaik?
            li
              a(href='/agency-mozaik') Education Agent
            li
              a(href='#' onclick="eForm()" class='signup') Sign Up
          ul
            h4 about mozaik
            li
              a(href='/about-us') Who is Mozaik
            li
              a(href='/partner-with-mozaik') Contact Us  
        .social
          // TODO
          .links
            input(placeholder="Sign up to our Newsletter" class='input-newsletter')

          a(href='https://web.facebook.com/Mozaik-Creative-213677359160166/')
            img.img-resp(src='/images/old-social-icons/sm-facebook.png') 
          a(href='https://www.instagram.com/mozaikplay/')
            img.img-resp(src='/images/old-social-icons/sm-instagram.png')
          a(href='https://twitter.com/MozaikPlay')
            img.img-resp(src='/images/old-social-icons/sm-twitter.png')
          p.copyright= `© copyright ${(new Date()).getFullYear()} mozaik play  |  site design by martina meyner`

    // TODO footer MOBILE
    div(class='d-lg-none')   
      .footer
        .links
          ul(class='ul-footer-left')
            h4 for students
            li
              a(href='/about-us') ABOUT US
            li
              a(href='/search') DISCOVER
            li
              a(href='/study-area') STUDY AREAS
            li
              a(href='/agency-mozaik') EDUCATION AGENCY 
          ul(class='ul-footer-right')
            h4 for schools
            li
              a(href='/partner-with-mozaik') WHY PARTNER WITH MOZAIK PLAY
            li
              a(href='/agency-mozaik') EDUCATION AGENCY 
        .social
          // TODO
          a(href='https://web.facebook.com/Mozaik-Creative-213677359160166/')
            img.img-resp(src='/images/old-social-icons/sm-facebook.png') 
          a(href='https://www.instagram.com/mozaikplay/')
            img.img-resp(src='/images/old-social-icons/sm-instagram.png')
          a(href='https://twitter.com/MozaikPlay')
            img.img-resp(src='/images/old-social-icons/sm-twitter.png')
          p.copyright= `© copyright ${(new Date()).getFullYear()} mozaik play  |  site design by martina meyner`

    block javascripts
      script(src='/dist/App.bundle.js?rand='+Math.random())
      script(src='/dist/reactHelper.bundle.js')
      script(src='/dist/smooth-scroll.min.js')
      script.
        var scroll = new SmoothScroll('.scroll-search-link');
      script(type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2708822.js")
      script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')

      // TODO insert enquiry form; hubspot?
append stylesheets
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css")
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css")

  // if lte IE 8
  script(charset='utf-8', type='text/javascript', src='//js.hsforms.net/forms/v2-legacy.js')
  script(charset='utf-8', type='text/javascript', src='//js.hsforms.net/forms/v2.js')
  script.

       var signup = document.createElement("signing");
        signup.innerHTML = '&times;';
           
       function eForm(formId){  
         hbspt.forms.create({
          css: '',
          portalId: '2708822',
          formId: formId,
           onFormReady: closeForm
          });
        };

       function cForm() {
        hbspt.forms.create({
        portalId: '2708822',
        formId: 'ade15aad-d63b-4d3f-a2ab-f418fe9c136f',
        onFormReady: closeForm
        });
       }; 

       function closeForm() {
        var form = document.getElementsByClassName("hbspt-form");
        console.log(form[0]);
        form[0].style.display = "block";
        signup.addEventListener("click", function(){
          form[0].style.display = "none";
        });
        form[0].appendChild(signup);
       };
   