@import './modules/base';
@import './modules/navigation';
@import './modules/alerts';
@import './modules/helpers';
@import './modules/buttons';
@import './modules/forms';
@import './modules/home';
@import './modules/schools';
@import './modules/about';
@import './modules/partner';
@import './modules/agency';
@import './modules/individualArea';
@import './modules/selectArea';

// Styles for react components
@import './modules/menuComponent';
@import './modules/heroComponent';
@import './modules/searchComponent';
@import './modules/artworkComponent';
@import './modules/campusComponent';
@import './modules/facilitiesComponent';
@import './modules/alumniComponent';
@import './modules/coursesComponent';
@import './modules/discoverComponent';
@import './modules/filterComponent';
@import './modules/footerComponent';

// Slick styles
// TODO add slick styles via sass
// @import './modules/slick';
// @import './modules/slick-theme';
// Mobile styles
@import './modules/mobile/layout/index';
@import './modules/mobile/home/index';
@import './modules/mobile/searchDiscover';
@import './modules/mobile/individualArea';
@import './modules/mobile/about';
@import './modules/mobile/agency';
@import './modules/mobile/schoolmobile';
@import './modules/mobile/artworkMobileComponent';
@import './modules/mobile/filterMobileComponent';
@import './modules/mobile/coursesMobileComponent';

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
}

