extends layouts/layout

append stylesheets
  link(rel='stylesheet' href='/slick/slick.css')
  link(rel='stylesheet' href='/slick/slick-theme.css')

block content
  !=Hero
  !=Search
  .extended-search
    h2 don't see exactly what you're looking for?
    // TODO add search page
    a(href='/search') refine and filter here
  .enquiry-form
    h3 get the inside scoop
    p Sign up with your email address to receive news and updates.
    // TODO insert enquiry form; hubspot?

append javascripts
