extends layouts/layout

append stylesheets
  link(rel='stylesheet' href='/slick/slick.css')
  link(rel='stylesheet' href='/slick/slick-theme.css')

block content
  .home-hero
    .home-slider
      .slide(style='background-image: url(http://via.placeholder.com/350x150);')
        h1 Mozaik Creative
        p Deciding what to study is tricky. We'll help you find the right course in the creative industry.
      .slide(style='background-image: url(http://via.placeholder.com/350x150);')
      .slide(style='background-image: url(http://via.placeholder.com/350x150);')
    .slider-dots
    .scroll-search
      .arrow-down
  #search-container
    // This is the react component Search
    // It is located in public/javascripts/components/search
    // Loaded from public/dist/Search.bundle.js
  .extended-search
    h2 don't see exactly what you're looking for?
    // TODO add search page
    a(href='/search') refine and filter here
  .enquiry-form
    h3 get the inside scoop
    p Sign up with your email address to receive news and updates.
    // TODO insert enquiry form; hubspot?

append javascripts
  script(src='/dist/Search.bundle.js?rand='+Math.random())
  script(src='/slick/slick.min.js')
  script.
    $('.home-slider').slick({
      autoplay: true,
      arrows: false,
      dots: true,
      appendDots: $('.slider-dots'),
      customPaging: function(slider, i) {
        return "<div class='dot' />"
      }
    });
