extends layouts/layout

block content
  .school-heading-container
    .school-heading
      .school-info
        img(src=school.logo)
        h1= school.name
      .school-details-links
        .video-link
          a(href='#')
            img.icon(src='/images/icons/mozaik-icons-8.png')
            br
            span play video
        .other-links
          a.btn(href='#') enquire
          a.btn(href='#') apply
          a.btn(href=school.website target='_blank') visit website
  !=Courses
