extends layouts/layout

block content
  !=Search
  .extended-search
    h2.refine-header don't see exactly what you're looking for?
    // TODO add search page
    a(href='/discover' class='btn') refine and filter here