extends layouts/layout

block content
  !=Search
  .page-footer
    .extend-search
      h2.refine-header don't see exactly what you're looking for?
      br
      a(href='/discover' class='btn') advanced search