.agency-page-heading {
    border: 5px solid #FFFFFF;
    width: 60%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 50px;
    position: relative;
    font-family: 'Bebas Neue';
    color: #FF6D6D;
    text-transform: uppercase;
    display: block;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border-top: none;
}

.agency-page-heading:before {
    content: '';
    color: #FFFFFF;
    width: 20%;
    height: 5px;
    background: #FFFFFF;
    position: absolute;
    top: -5px;
    left: -5px;
}
.agency-page-heading:after {
    content: '';
    color: #FFFFFF;
    width: 20%;
    height: 5px;
    background: #FFFFFF;
    position: absolute;
    top: -5px;
    right: -5px;
}

.agency-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 530vh;
  background-color: black; 
  position: relative;
  margin-bottom: 5%;
  position:relative;
}

.agency-image {
  position: absolute;
  width: 100%;
  height: 90vh;
  background-image: url(https://res.cloudinary.com/mozaik/image/upload/v1522046952/Abstract_Design_Kaboompics_CCO_ifmyod.jpg);
  background-size: 100% 100%;
  background-position-y: 20%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-top: 15%;
 }
  

.agency-text-container{ 
  width: 100%;
  height: 65vh;
  background-color: #ffffff;
  border: 1px solid white;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21%; 
  position:absolute;
  z-index: 1;
}

.agency-text{
  margin-top: 5%;
}

.agency-text >h1{
  color: #292722;
  text-align: center;
  font-weight: 900;
  font-family:'Helvetica';
}

.agency-text >p{
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
  font-family:'Helvetica';
}

.start-text{
  margin-top: 140px;  
}

.start-text >p{
  font-size: 25pt;
  text-align: center;
  font-family: 'Bebas Neue';
}

.box-container{
  width: 100%;
  position: relative;
  height: 200vh;
  top:20%
}

.timeline-container{
   background-color: #FFFFFF;
   height: 310vh;
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   position: relative;
}

.timeline-img >img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 305vh;
  padding-top: 150px;  
}

.rectangle1{
  background-color: #292722;
  position: absolute;
  top: 25%;
  width: 91.5%;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.discover-title {
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: flex-end;
  
}

.discover-title >p{
  color: #F5F5F5;
  font-size: 20pt;
  font-family: 'Bebas Neue';
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.discover-triangle-right{
  height: 4vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 74%;
}

.discover .discover-small-line-agency{
  width: 30%;
  height: .5vh;
  margin-left: 20%;
  padding-top: 0px;
  margin-top: -3px;
  margin-bottom: 10px;
}

.discover .discover-box{  
  margin-left: 20%;
  background-color: #FFFFFF;
  width: 450px;
  height: 30vh;
  padding-top: 0px;
  margin-top: -5px;
}

.discover-triangle-down{
  margin-left: 90%;
  padding-top: 10px;
  height: 5vh;
}

.discover-box >p{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 12px;
}

.discover-box >p >a{
  text-decoration: none;
  color: #F76F70;
}

.selection-course{
  margin-left: 10.5%;
}

.selection-title {
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: flex-end;
  
}

.selection-title >p{
  color: #F5F5F5;
  font-size: 20pt;
  font-family: 'Bebas Neue';
  margin-bottom: 0px;
  padding-bottom: 0px;
  
  
}

.selection-triangle-right{
  height: 4vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*margin-left: 75%;*/
  position: relative;
  left: 100px;
}

.selection-course .selection-small-line-agency{
  width: 70%;
  height: .5vh;
  margin-left: 20%;
  padding-top: 0px;
  margin-top: -3px;
  margin-bottom: 10px;
}

.selection-course .selection-box{  
  margin-left: 20%;
  background-color: #FFFFFF;
  width: 450px;
  height: 30vh;
  padding-top: 0px;
  margin-top: -5px;
}

.selection-triangle-down{
  margin-left: 90%;
  padding-top: 10px;
  height: 5vh;
}

.selection-box >p{
  margin-top: 30px;
  margin-left: 25px;
  font-size: 10px;
}


.rectangle2{
  background-color: #FFFFFF;
  position: absolute;
  top: 51%;
  width: 91.5%;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.application-title {
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: flex-end;
  
}

.application-title >p{
  color: #292722;
  font-size: 20pt;
  font-family: 'Bebas Neue';
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.application-triangle-right{
  height: 4vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 68%;
}

.application .application-small-line-agency{
  width: 70%;
  height: .5vh;
  margin-left: 20%;
  padding-top: 0px;
  margin-top: -3px;
  margin-bottom: 10px;
}

.application .application-box{  
  margin-left: 20%;
  background-color: #292722;
  width: 450px;
  height: 30vh;
  padding-top: 0px;
  margin-top: -5px;
}

.application-triangle-down{
  margin-left: 90%;
  padding-top: 10px;
  height: 5vh;
}

.application-box >p{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 10px;
  color: #FFFFFF;
}


.creative-portfolio{
  margin-left: 10.5%;
}

.creative-title {
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: flex-end;
  
}

.creative-title >p{
  color: #292722;
  font-size: 20pt;
  font-family: 'Bebas Neue';
  margin-bottom: 0px;
  padding-bottom: 0px;
  
  
}

.creative-triangle-right{
  height: 4vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*margin-left: 75%;*/
  position: relative;
  left: 100px;
}

.creative-portfolio .creative-small-line-agency{
  width: 70%;
  height: .5vh;
  margin-left: 20%;
  padding-top: 0px;
  margin-top: -3px;
  margin-bottom: 10px;
}

.creative-portfolio .creative-box{  
  margin-left: 20%;
  background-color: #292722;
  width: 450px;
  height: 30vh;
  padding-top: 0px;
  margin-top: -5px;
}

.creative-triangle-down{
  margin-left: 90%;
  padding-top: 10px;
  height: 5vh;
}

.creative-box >p{
  margin-top: 30px;
  margin-left: 25px;
  font-size: 10px;
  color: #FFFFFF;
}

.rectangle3{
  background-color: #292722;
  position: absolute;
  top: 77%;
  width: 91.5%;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.visa-title {
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: flex-end;
  
}

.visa-title >p{
  color: #FFFFFF;
  font-size: 20pt;
  font-family: 'Bebas Neue';
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.visa-triangle-right{
  height: 4vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*margin-left: 75%;*/
  position: relative;
  left: 32px;
}

.visa-medical .visa-small-line-agency{
  width: 75%;
  height: .5vh;
  margin-left: 20%;
  padding-top: 0px;
  margin-top: -3px;
  margin-bottom: 10px;
}

.visa-medical .visa-box{  
  margin-left: 20%;
  background-color: #FFFFFF;
  width: 450px;
  height: 30vh;
  padding-top: 0px;
  margin-top: -5px;
}

.visa-triangle-down{
  margin-left: 90%;
  padding-top: 10px;
  height: 5vh;
}

.visa-box >p{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 10px;
}


.travel-arrangements{
  margin-left: 10.5%;
}

.travel-title {
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: flex-end;
  
}

.travel-title >p{
  color: #FFFFFF;
  font-size: 20pt;
  font-family: 'Bebas Neue';
  margin-bottom: 0px;
  padding-bottom: 0px;
  
  
}

.travel-triangle-right{
  height: 4vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*margin-left: 68%;*/
  position: relative;
  left: 45%;
}

.travel-arrangements .travel-small-line-agency{
  width: 75%;
  height: .5vh;
  margin-left: 20%;
  padding-top: 0px;
  margin-top: -3px;
  margin-bottom: 10px;
}

.travel-arrangements .travel-box{  
  margin-left: 20%;
  background-color: #FFFFFF;
  width: 450px;
  height: 30vh;
  padding-top: 0px;
  margin-top: -5px;
}

.travel-triangle-down{
  margin-left: 90%;
  padding-top: 10px;
  height: 5vh;
}

.travel-box >p{
  margin-top: 30px;
  margin-left: 25px;
  font-size: 10px;
}

.rectangle4{
  background-color: #FFFFFF;
  position: absolute;
  top: 102%;
  width: 91.5%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  margin-left: 8%
}

.accommodation-title {
  margin-top: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: flex-end;
}

.accommodation-title >p{
  color: #292722;
  font-size: 20pt;
  font-family: 'Bebas Neue';
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.accommodation-triangle-right{
  height: 4vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*margin-left: 75%;*/
  position: relative;
  left: 23%;
}

.accommodation .accommodation-small-line-agency{
  width: 70%;
  height: .5vh;
  padding-top: 0px;
  margin-top: -3px;
  margin-bottom: 10px;
}

.accommodation .accommodation-box{  
  background-color: #292722;
  width: 450px;
  height: 30vh;
  padding-top: 0px;
  margin-top: -5px;
}

.accommodation-triangle-down{
  margin-left: 90%;
  padding-top: 10px;
  height: 5vh;
}

.accommodation-box >p{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 10px;
  color: #FFFFFF;
}


.pre-post-departure{
  margin-left: 10%;
}

.pre-post-departure-title {
  margin-top: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: flex-end;
  
}

.pre-post-departure-title >p{
  color: #292722;
  font-size: 20pt;
  font-family: 'Bebas Neue';
  margin-bottom: 0px;
  padding-bottom: 0px; 
}

.pre-post-departure-triangle-right{
  height: 4vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*margin-left: 68%;*/
  position: relative;
  left: 19%;
}

.pre-post-departure .pre-post-departure-small-line-agency{
  width: 70%;
  height: .5vh;
  padding-top: 0px;
  margin-top: -3px;
  margin-bottom: 10px;
}

.pre-post-departure .pre-post-departure-box{  
  background-color: #292722;
  width: 450px;
  height: 30vh;
  padding-top: 0px;
  margin-top: -5px;
}

.pre-post-departure-triangle-down{
  margin-left: 90%;
  padding-top: 10px;
  height: 5vh;
}

.pre-post-departure-box >p{
  margin-top: 30px;
  margin-left: 25px;
  font-size: 10px;
  color: #FFFFFF;
}

.rectangle5{
  background-color: #292722;
  position: absolute;
  top: 127%;
  width: 91.5%;
  height: 30vh;
  display: flex;
  flex-direction: row;
}

.support-study{
  margin-top: 25px;
}

.support-study-title {
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: flex-end;
  
}

.support-study-title >p{
  color: #FFFFFF;
  font-size: 20pt;
  font-family: 'Bebas Neue';
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.support-study-triangle-right{
  height: 4vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*margin-left: 75%;*/
  position: relative;
  left: 12%;
}

.support-study .support-study-small-line-agency{
  width: 75%;
  height: .5vh;
  margin-left: 20%;
  padding-top: 0px;
  margin-top: -3px;
  margin-bottom: 10px;
}

.support-study .support-study-box{  
  margin-left: 20%;
  background-color: #FFFFFF;
  width: 450px;
  height: 30vh;
  padding-top: 0px;
  margin-top: -5px;
}

.support-study-triangle-down{
  margin-left: 90%;
  padding-top: 10px;
  height: 5vh;
}

.support-study-box >p{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 10px;
}


.internships{
  margin-left: 10.5%;
  margin-top: 25px;
}

.internships-title {
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: flex-end;
  
}

.internships-title >p{
  color: #FFFFFF;
  font-size: 20pt;
  font-family: 'Bebas Neue';
  margin-bottom: 0px;
  padding-bottom: 0px;
  
  
}

.internships-triangle-right{
  height: 4vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*margin-left: 68%;*/
  position: relative;
  left: 23%;
}

.internships .internships-small-line-agency{
  width: 75%;
  height: .5vh;
  margin-left: 20%;
  padding-top: 0px;
  margin-top: -3px;
  margin-bottom: 10px;
}

.internships .internships-box{  
  margin-left: 20%;
  background-color: #FFFFFF;
  width: 450px;
  height: 30vh;
  padding-top: 0px;
  margin-top: -5px;
}

.internships-triangle-down{
  margin-left: 90%;
  padding-top: 10px;
  height: 5vh;
}

.internships-box >p{
  margin-top: 30px;
  margin-left: 25px;
  font-size: 10px;
}

.get-started{
  position:relative;
  left: 3%; 
  top: 43.5%;
  z-index: 1;
}

.get-started >img{
  width: 70%;
}

.agency-footer{
  position: absolute;
  top: 500%;
  z-index: 1;
}