.agency-heading {
  margin-bottom: 30px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.agency-heading .agency-info{
  text-align: center; 
    width: 50%;
    border: 10px solid white;
    padding: 0px 15px 15px 15px;
}

.agency-heading .agency-info .hidden-line {
    font-size: 28px;
    margin-top: -20px;
    background-color: #181818;
    color: #181818;
    display: inline-block;
    text-transform: uppercase;
}

.agency-title {
  margin-top:5px;
  margin-bottom: 30px;
  font-size: 20pt;
  color: #F76F70;
  text-transform: uppercase;
  font-weight: 900;
}

.agency-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 450vh;
  /*background-color: red;*/ 
  position: relative;
  margin-bottom: 5%;
}

.agency-image {
  position: absolute;
  width: 100%;
  height: 90vh;
  background-image: url(https://res.cloudinary.com/mozaik/image/upload/v1522046952/Abstract_Design_Kaboompics_CCO_ifmyod.jpg);
  background-size: 100% 100%;
  background-position-y: 20%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-top: 15%;
 }
  

.agency-text-container{ 
  width: 75%;
  height: 65vh;
  background-color: #ffffff;
  border: 1px solid white;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21%; 
}

.agency-text{
  margin-top: 5%;
}

.agency-text >h1{
  color: black;
  text-align: center;
  letter-spacing: 1px;
}

.agency-text >p{
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
}

.start-text{
  margin-top: 120px;  
}

.start-text >p{
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  font-family: 'Helvetica';
}

.box-container{
  width: 100%;
  position: relative;
  height: 200vh;
}

.timeline-container{
   background-color: white;
   height: 322vh;
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   position: relative;

}

.timeline-img >img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 319vh;
  padding-top: 20px;
   
}

.rectangle1{
  background-color: yellow;
  position: absolute;
  top: 15%;
  width: 90%;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.discover .discover-title {
  margin-left: 30%;
  margin-top: 15%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.discover .discover-box{  
  margin-left: 30%;
  background-color: green;
  width: 400px;
  height: 35vh;
}

.selection-course .selection-title {
  margin-left: 90.5%;
  margin-top: 15%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.selection-course .selection-box{  
  margin-left: 90.5%;
  background-color: green;
  width: 400px;
  height: 35vh;
}

.rectangle2{
  background-color: yellow;
  position: absolute;
  top: 43%;
  width: 90%;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.application .application-title {
  margin-left: 30%;
  margin-top: 15%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.application .application-box{  
  margin-left: 30%;
  background-color: green;
  width: 400px;
  height: 35vh;
}

.creative-portfolio .creative-title {
  margin-left: 90.5%;
  margin-top: 15%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.creative-portfolio .creative-box{  
  margin-left: 90.5%;
  background-color: green;
  width: 400px;
  height: 35vh;
}

.rectangle3{
  background-color: yellow;
  position: absolute;
  top: 71%;
  width: 90%;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.visa-submission .visa-title {
  margin-left: 30%;
  margin-top: 15%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.visa-submission .visa-box{  
  margin-left: 30%;
  background-color: green;
  width: 400px;
  height: 35vh;
}

.travel-arrangements .travel-title{
  margin-left: 90.5%;
  margin-top: 15%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.travel-arrangements .travel-box{  
  margin-left: 90.5%;
  background-color: green;
  width: 400px;
  height: 35vh;
}

.rectangle4{
  background-color: yellow;
  position: absolute;
  top: 99%;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.accomodation .accomodation-title {
  margin-left: 0%;
  margin-top: 15%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.accomodation .accomodation-box{  
  margin-left: 0%;
  background-color: green;
  width: 400px;
  height: 35vh;
}

.pre-departure .pre-departure-title{
  margin-left: 60%;
  margin-top: 15%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.pre-departure .pre-departure-box{  
  margin-left: 60%;
  background-color: green;
  width: 400px;
  height: 35vh;
}

.rectangle5{
  background-color: yellow;
  position: absolute;
  top: 127%;
  width: 90%;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.support-study .support-study-title {
  margin-left: 100%;
  margin-top: 15%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}



.internship-placement .internship-placement-title{
  margin-left: 100%;
  margin-top: 15%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}



.agency-contact{
    width: 100%;
    height: 450px;
    background-image: url(/images/patterns/partoffooter.png);
    background-size: 100% 100%;
    background-position-y: 20%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    text-align: center;
    padding-top: 15%;
}

.inside-scoop-img {
  height: 70px;
}

.email {
  width: 210px;
  height: 20px;
  border: 2px solid #F76F70;
  background: transparent;
}

.subscribe-img{
  height: 50px;
}