.artworks {
  overflow: hidden;
}
.artwork-slides {
  list-style: none;
  margin: 0px;
  padding: 0px;
  column-count: 1;
  column-gap: 0px;
  line-height: 0;
  @media only screen and (min-width: 768px) {
    column-count: 3;
  }
}
.artwork-slides > li {
  list-style: none;
  display: inline-block;
  width: 100%;
  height: auto;
  cursor: pointer;
  position: relative;
}
.artwork-slides > li {
  p, h4 {
    position: absolute;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    opacity: 0;
    color: $pink;
  }
  p {
    margin-top: 30px;
    font-size: 1.2em;
    font-family: 'Gotham Bold';
    text-transform: uppercase;
  }
  h4 {
    bottom: 40%;
    font-size: 2em;
    border-top: 1px solid $pink;
    border-bottom: 1px solid $pink;
    padding: 20px 0;
    letter-spacing: 1px;
  }
  .artwork-discipline {
    color: $white;
    margin-top: 60px;
    font-family: 'Montserrat Ultra Light';
    font-size: 1em;
  }
}
.artwork-slides > li:hover {
  img {
    opacity: 0.15;
  }
  p, h4 {
    opacity: 1;
  }
}
.artwork-image {
  max-width: 100%;
  height: auto;
}
.lightbox-social {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: -30px;
}
#lightboxBackdrop img {
  max-height: calc(100vh - 150px) !important;
}
