.artworks {
  overflow: hidden;
}
.artwork-slides {
  list-style: none;
  margin: 0px;
  padding: 0px;
  column-count: 3;
  column-gap: 0px;
  line-height: 0;
}
.artwork-slides > li {
  list-style: none;
  display: inline-block;
  width: 100%;
  height: auto;
  cursor: pointer;
  position: relative;
}
.artwork-slides > li {
  p, h4 {
    position: absolute;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    opacity: 0;
  }
  p {
    margin-top: 30px;
  }
  h4 {
    bottom: 50%;
    font-size: 25px;
    letter-spacing: 1px;
  }
}
.artwork-slides > li:hover {
  img {
    opacity: 0.15;
  }
  p, h4 {
    opacity: 1;
  }
}
.artwork-image {
  max-width: 100%;
  height: auto;
}
.lightbox-social {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: -30px;
}
#lightboxBackdrop img {
  max-height: calc(100vh - 150px) !important;
}
