$black: #082A3E;
$dark-grey: #E4E9EC;
$white: #FFFFFF;
$orange: #EF7D30;
$blue: #0C2A3E;
$pink: #EF6364;
/* latest */
$pink: #FF6D6D;
$grey: #181818;
$dark-green: #273234;
$grey-text: #949494;

@font-face {
  font-family: 'Gotham Book Regular';
  src: url(/fonts/gotham/Gotham-BookRegular.otf);
}
@font-face {
  font-family: 'Gotham Bold';
  src: url(/fonts/gotham/Gotham-Bold.otf);
}
@font-face {
  font-family: 'Bebas Neue';
  src: url(/fonts/bebas_neue/bebas_neue.otf);
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url(/fonts/montserrat/montserrat-regular.otf);
}
@font-face {
  font-family: 'Montserrat Extra Bold';
  src: url(/fonts/montserrat/montserrat-extraBold.otf);
}
@font-face {
  font-family: 'Montserrat Hairline';
  src: url(/fonts/montserrat/montserrat-hairline.otf);
}
@font-face {
  font-family: 'Montserrat Light';
  src: url(/fonts/montserrat/montserrat-light.otf);
}
@font-face {
  font-family: 'Montserrat Semi Bold';
  src: url(/fonts/montserrat/montserrat-semiBold.otf);
}
@font-face {
  font-family: 'Montserrat Ultra Light';
  src: url(/fonts/montserrat/montserrat-ultraLight.otf);
}
@font-face {
  font-family: 'Montserrat Black';
  src: url(/fonts/montserrat/montserrat-black.otf);
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url(/fonts/montserrat/montserrat-bold.otf);
}

h1, h2, h5 {
  font-family: 'Gotham Bold';
  color: $pink;
  text-transform: uppercase;
}


h3 {
  font-family: 'Gotham Bold';
  color: $pink;
}



h4 {
  font-family: 'Gotham Bold';
  color: $white;
  text-transform: uppercase;
}


html, body {
  font-family: 'Bebas Neue';
}

/* homepage background */
.content {
  background-color: $grey;
}


.hbspt-form {
    position: fixed;
    top: 100px;
    right: 0;
    background-color: aqua;
    z-index: 100;
    padding: 20px;
    text-align: center;
    background-color: $grey;
    border: 1px solid $pink;
    padding: 30px 20px;
    color: white;
}


