$black: #082A3E;
$dark-grey: #E4E9EC;
$white: #FFFFFF;
$orange: #EF7D30;
$blue: #0C2A3E;
$pink: #EF6364;
/* latest */
$pink: #FF6D6D;
$grey: #181818;
$dark-green: #273234;
$grey-text: #949494;

@font-face {
  font-family: 'Gotham Book Regular';
  src: url(/fonts/gotham/Gotham-BookRegular.otf);
}
@font-face {
  font-family: 'Gotham Bold';
  src: url(/fonts/gotham/Gotham-Bold.otf);
}
@font-face {
  font-family: 'Bebas Neue';
  src: url(/fonts/bebas_neue/bebas_neue.otf);
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url(/fonts/montserrat/montserrat-regular.otf);
}
@font-face {
  font-family: 'Montserrat Extra Bold';
  src: url(/fonts/montserrat/montserrat-extraBold.otf);
}
@font-face {
  font-family: 'Montserrat Hairline';
  src: url(/fonts/montserrat/montserrat-hairline.otf);
}
@font-face {
  font-family: 'Montserrat Light';
  src: url(/fonts/montserrat/montserrat-light.otf);
}
@font-face {
  font-family: 'Montserrat Semi Bold';
  src: url(/fonts/montserrat/montserrat-semiBold.otf);
}
@font-face {
  font-family: 'Montserrat Ultra Light';
  src: url(/fonts/montserrat/montserrat-ultraLight.otf);
}
@font-face {
  font-family: 'Montserrat Black';
  src: url(/fonts/montserrat/montserrat-black.otf);
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url(/fonts/montserrat/montserrat-bold.otf);
}

h1, h2, h5 {
  font-family: 'Bebas Neue';
  color: $pink;
  text-transform: uppercase;
}


h3 {
  font-family: 'Bebas Neue';
  color: $pink;
}



h4 {
  font-family: 'Gotham Bold';
  color: $white;
  text-transform: uppercase;
}


html, body {
  font-family: 'Helvetica';
  background-color: $grey;
}

/* homepage background */
.content {
  background-color: $grey;
}


.hbspt-form {
    position: fixed;
    top: 100px;
    right: 0;
    background-color: aqua;
    z-index: 100;
    padding: 20px;
    text-align: center;
    background-color: $grey;
    border: 1px solid $pink;
    padding: 30px 20px;
    color: white;
    display: none;

}

.hbspt-form button {
    border: none;
    background-color: $pink;
    margin: 0;
    padding: 5px;
    right:5px;
    top: 5px;
    position: absolute;

}

.page-footer{
   width: 100%;
    height: 600px;
    background-image: url("/images/patterns/partoffooter.png");
    background-size: 100% 100%;
    background-position-y: 20%;
    background-repeat: no-repeat;
    margin-top: 100px;
}

.page-heading{
  border: 5px solid $white;
  width: 25%;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  position:relative;
}

.page-heading:after{
  content: '';
  color: $white;
  width: 70%;
  height: 5px;
  background: #181818;
  position: absolute;
  top: -5px;
  left: 15%;

}