.btn {
  border: 1px solid $pink;
  border-radius: 7px;
  padding: 5px 20px 3px 20px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Bebas Neue';
  color: $white;
  text-align: center;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 1px;
}
.btn-full-width {
  width: 100%;
}
.filter-btn {
  padding: 8px;
  margin: 5px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $white;
  font-size: 10px;
}
.filter-btn.white {
  background-color: $white;
}
.filter-btn:focus {
  border: none;
  outline: none;
}
.filter-btn:hover, .filter-btn.active {
  background-color: $pink;
  color: $white;
}
.filter-buttons li {
  display: inline-block;
  list-style: none;
}
.filter-buttons {
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.list-btn {
  width: 60px;
  height: 41px;
  background-image: url(/images/buttons/list-off.png);
  background-size: cover;
  cursor: pointer;
}
.list-btn.active {
  width: 60px;
  height: 41px;
  background-image: url(/images/buttons/list-select.png);
  background-size: cover;
  cursor: pointer;
  /*background-color: $pink;
  color: $pink;*/
}
.refine-btn {
  width: 60px;
  height: 41px;
  background-image: url(/images/buttons/refine-off.png);
  background-size: cover;
  cursor: pointer;
}
.refine-btn.active {
  width: 60px;
  height: 41px;
  background-image: url(/images/buttons/refine-select.png);
  background-size: cover;
  cursor: pointer;
  /*background-color: $pink;
  color: $pink;*/
}
.search-btn {
  width: 60px;
  height: 41px;
  background-image: url(/images/buttons/search-off.png);
  background-size: cover;
  cursor: pointer;
}
.search-btn.active {
  width: 60px;
  height: 41px;
  background-image: url(/images/buttons/search-select.png);
  background-size: cover;
  cursor: pointer;
  /*background-color: $pink;
  color: $pink;*/
}
.btn-grey {
  border-color: $grey;
  color: $grey;
}

// Icon buttons
.icon-white {
  width: 20px;
  height: 20px;
  margin: 0px 15px;
  filter: brightness(0) invert(1);
  cursor: pointer;
}
.icon {
  width: 47px;
  height: 53px;
  margin: 0px 15px;
  cursor: pointer;
}

.fa-heart, .fa-heart-o {
  opacity: 0.7;
  cursor: pointer;
  color: $pink;
}
.fa-heart:hover, .fa-heart-o:hover {
  opacity: 1;
}
.btn-discover {
  margin-top: 15px;
}
