.course-card-container {
  border-top: 1px solid $dark-grey;
  background: $white;
}
.course-card {
  display: flex;
  align-items: top;
  width: 80%;
  margin: 50px auto;
  position: relative;
  padding: 10px;
  padding-top: 30px;
  background: $grey;
}
.course-card-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $white;
}
.course-card-left > .course-buttons {
  width: 100%;
  display: flex;
}
.course-buttons > .btn {
  margin-top: 10px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .course-buttons > .btn {
    width: 50%;
  }
  .course-buttons > .btn:first-child {
    margin-right: 15px;
  }
}
.course-card-right {
  width: 47.5%;
  display: flex;
  flex-direction: column;
}
.course-card-right > h3 {
  font-size: 25px;
  margin: 5px 2%;
}
.course-card-right > .course-info {
  /*border: 2px solid $dark-grey;*/
  width: calc(98% - 9px);
  padding-left: 2%;
  margin-left: 0%;
  padding-right: 5px;
  font-family: 'Montserrat Ultra Light';
  font-size: 12px;
  font: justify;
  color: $white;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.course-info-bit-right {
  /*display: flex; */
  text-align: right;
}

.course-info-bit-left {
  /*display: flex; */
  text-align: left;
}

.course-info-bit-left {
  /*display: flex; */
  text-align: left;
}
.info-bit-content {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
}
.course-bg {
  padding-bottom: 40px;
  background: $white;
}
.info-bits-container {
  display: flex;
}
.info-bits-section {
  flex-grow: 1;
  flex-direction: column;
}
.card-icon {
  float: right;
}

.course-buttons{
  text-align: right;

  .btn{
    background-color: $pink;
    border-radius: 0;
    border: 3px solid $white;
    width: 100px;
  }
}

.likesection{
  display: flex;
  flex-direction: column;
  width: 5%;

    h3{
    margin: 0;
    top: -20px;
    position: relative;
    left: 0;
  }
}



