.discover-column-container {
  height: calc(140vh - 140px);
  width: 20%;
  position: absolute;
  left: 250px;
  top: 0px;
  background-color: black;
  /*overflow: scroll;*/
}
.discover-column {
  padding: 20px;
}
.discover-column a {
  text-decoration: none;
  color: $white;
}
.discover-column h2 {
  margin-top: 0px;
  font-size: 36px;
  text-align: center;
}
.discover-column > h3 {
  color: white;
  font-size: 2vw;
}
.discover-checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}

.discover-checkboxes > label {
  font-size: 13px;
  margin:0px;
  text-transform: uppercase;
  line-height: 1.8;
}
.map {
  position: relative;
}

#sites {
  margin-top: 50px;
}

.rc-slider {
  width: 80% !important;
}

