.discover-column-container {
  height: calc(140vh - 140px);
  width: 20%;
  position: absolute;
  left: 250px;
  top: 0px;
  background-color: black;
  /*overflow: scroll;*/
}
.discover-column {
  padding: 20px;
}
.discover-column a {
  text-decoration: none;
  color: $white;
}
.discover-column h2 {
  margin-top: 0px;
  font-size: 36px;
  text-align: center;
}
.discover-column > h3 {
  color: white;
  font-size: 2vw;
}
.discover-checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.discover-checkboxes > label {
  font-size: 13px;
  margin:0px;
  text-transform: uppercase;
  line-height: 1.8;
}
.map {
  position: relative;
}

#sites {
  margin-top: 50px;
}

.discover-column-container{
  .rc-slider {
    width: 80%;
    height: auto;
    .rc-slider-rail {
      background-color: rgb(255, 109, 109);
      height: 1px;
    }
    .rc-slider-track {
      background-color: rgb(255, 255, 255);
      height: 1px;
      left: 0%;
      width: 100%;
      z-index: 1;
    }
    .rc-slider-handle {
      border: none;
      background-color: rgb(255, 255, 255);
      width: 10px;
      height: 10px;
      margin-left: -4px;
      margin-top: -4px;
      &:focus {
        border: none;
        box-shadow: none;
        outline: none;
      }
    }
    .rc-slider-dot {
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      background-color: rgb(255, 109, 109);
      border: none;
      border-radius: 0px;
    }
    .rc-slider-mark {
      color: $white;
    }
    .rc-slider-mark-text-active {
      color: $white;
    }
  }
}