.facilities-slider {
  width: 50%;
 /* margin: 0px auto; */
 margin: 15% 8%;

  .slick-arrow:before {
    display: none;
  }
  .slick-arrow {
    width: 35px !important;
    height: 35px !important;
  }
  .slick-next {
    right: -50px !important;
  }
  .slick-prev {
    left: -50px !important;
  }
}
