// Checkbox styles
.control {
  font-size: 18px;
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 20px;
  cursor: pointer;
  color: white;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 12px;
  height: 12px;
  background: #000000;
  border: 1px solid #FF6D6D;
  margin-top: 4px;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #e6e6e6;
}

/* Checked state */
.control input:checked ~ .control__indicator {
  background: #000000;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #000000;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
  pointer-events: none;
  opacity: .6;
  background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
  position: absolute;
  display: none;
  content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
  display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
  top: 0px;
  left: 4px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid $dark-grey;
  padding: 3px;
  width: 80%;
  margin-top: 10px;
  background-color: #000000;
  color: $white;
}
input[type=text]:focus, input[type=text]:active {
  outline: none;
  border-color: $black;
}
input[type=text]::placeholder {
  text-transform: uppercase;
  color: $white;
}


/* Form Field (selector for form field wrapper) */
.hs-form .hs-form-field {
  padding-bottom: 30px;
}

/* Descriptions (targets class applied to Help Text divs) */
.hs-form .hs-field-desc {}

/* Labels (selects field labels and error messages) */
.hs-form label {
  font-style: italic;
}

.hs-form .hs-form-field > label {
  font-family:'Bebas Neue';
  text-transform: uppercase;
}




///////////////////////////////////

.hbspt-form{
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 102;
  padding: 20px;
  border: 1px solid #fff;
  padding: 30px 20px;
  display: none;
  background-color: $pink !important;
  button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    color: white;
    border: none;
  }
}



.hs-form-8b3c4267-7058-4ff9-a5cd-2eaf0b271b23_6ccd9637-2065-4113-85f9-853745915e1b{
    .hs-button {
       color: red;
      }
}



.hs-form-required {
  color: blue;
}
