.home-hero {
  width: 100vw;
  height: 100vh;
  z-index: 40;
}
.home-slider {
  margin-bottom: 0px !important;
}
.fa-play-circle-o {
  color: $pink;
  margin-top: 0.2em;
  font-size: 4em;
  cursor: pointer;
}
.video-text {
  margin-top: 5px;
  font-family: 'Montserrat Ultra Light';
  font-size: 1.3em;
  text-transform: uppercase;
  cursor: pointer;
}
.slide {
  width: 100vw !important;
  height: calc(100vh - 100px) !important;
  padding-top: 100px;
  background-size: cover;
  background-position: 0 -200px;
}
.slider-dots {
  margin-top: -275px;
}
.slider-body {
  padding: 0 40px;
  color: $pink;
}
.slider-body > h1 {
  font-size: 4em;
  margin-bottom: 0;
  /* change this margin top */
  margin-top: 10%;
}
.slider-body > p {
  font-size: 1.5em;
  text-transform: none;
  font-family: 'Montserrat Ultra Light';
  margin-top: 10px;
  width: 100%;
  @media only screen and (min-width: 768px) {
    width: 40%;
  }
}
.scroll-search {
  margin-top: 31px;
  position: absolute;
  z-index: 60;
  width: 100%;
  text-align: center;
}
.scroll-search-link > img {
  width: 50px;
}
.slider-dots > .slick-dots {
  bottom: initial;
}
.slick-dots li {
  height: 0px !important;
  width: 100px !important;
}
.slick-dots li .dot {
  font-size: 0 !important;
  border: 3px solid $white !important;
  padding: 0px !important;
  height: 0px;
}
.slick-dots li.slick-active .dot {
  border: 3px solid $pink !important;
}
