.home-hero {
  width: 100vw;
  height: 100vh;
  z-index: 40;
}
.home-slider {
  margin-bottom: 0px !important;
}
.slide {
  width: 100vw !important;
  height: calc(100vh - 100px) !important;
  padding-top: 100px;
}
.slider-dots {
  margin-top: -251px;
}
.scroll-search {
  margin-top: 31px;
  position: absolute;
  z-index: 60;
  width: 100%;
}
.slider-dots > .slick-dots {
  bottom: initial;
}
.slick-dots li {
  height: 0px !important;
  width: 100px !important;
}
.slick-dots li .dot {
    font-size: 0 !important;
    border: 3px solid $white !important;
    padding: 0px !important;
    height: 0px;
}
.slick-dots li.slick-active .dot {
  border: 3px solid $orange !important;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $white;
  margin-left: auto;
  margin-right: auto;
}
.slide {
  background-image: url(http://via.placeholder.com/350x150);
}
