/* Desktop css */
.study-area-page-heading {
    border: 10px solid #181818;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 30px;
    position: relative;
    font-family: 'Helvetica';
    color: #FFFFFF;
    text-transform: uppercase;
    display: block;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 30px;
    border-top: none;
    z-index: 1;
}

.study-area-page-heading:before {
    content: '';
    color: #181818;
    width: 20%;
    height: 10px;
    background: #181818;
    position: absolute;
    top: -10px;
    left: -10px;
}

.study-area-page-heading:after {
    content: '';
    color: #181818;
    width: 20%;
    height: 10px;
    background: #181818;
    position: absolute;
    top: -10px;
    right: -10px;
}



img.study-area-background{
  width: 100%;
  height: 100vh;
  top: 0px;
  position: absolute; 
    @media only screen and (max-width: 1024px) {
    height: auto;
  }
}

.study-area-disciplines{
  position: relative;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.study-area-disciplines .study-link{
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Bebas Neue';
  font-size: 25px;
  letter-spacing: 1px;
}

.study-area-heading-description{
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
}

.study-area-heading-description >p{
  color: #FFFFFF;
  font-size: 20px;
  letter-spacing: 1px;
  
}

.careers-container{
  height: 100%;
  position: absolute;
   /*https://uigradients.com/*/
     background-image: linear-gradient(to right top, #1a5799 30%, #4a54a6, #764daa, #9f3ea3, #c42593);
      @media only screen and (max-width: 1024px) {
        position: initial;
        height: 50vh;
  }
}

.careers-container >h1{
  text-align: center;
  font-family: 'Gotham Bold';
  font-weight: bold;
  color: #181818;
  font-size: 15vw;
  opacity: .6;
}

.careers >ul.careers-lists{
 text-align: center;
list-style-type: circle;
}

ul.careers-lists >li {
  display: inline-block;
  margin-left: 20px;
}

ul.careers-lists>li:before {
  content: '•';
  position: relative;
  font-size: 2em;
  font-weight: bold;
  top: 2px;
  
  right: 10px;
  color: white;
  list-style-position: inside;
}

.careers-link{
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Bebas Neue';
  font-size: 23px;
  letter-spacing: 1px;
}

.study-area-alumni{
  margin-top: 10%;
}

.study-area-alumni-qoute {
  position: absolute;
  left: 70%;
}

.study-area-alumni-qoute >p{
  font-family: 'Bebas Neue';
  color: #FFFFFF;
  font-size: 5vh;
}


.study-area-alumni-image {
  margin-left: 10%;
  margin-right: 20px;
}

.study-area-alumni-image >img{
  clip-path:polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  width: 180px;
  height: 25vh;
  background-color: red;
}

.study-area-alumni-content{
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}

.study-area-alumni-name, .study-area-alumni-degree{
  font-size: 30px;
  font-family: 'Bebas Neue';
  padding: 0;
  margin: 0;
}

.study-area-enquire-img{
  margin-top: 5%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.study-area-footer{
  position: relative;
  margin-top: 36%;
    @media only screen and (max-width: 1024px) {
        margin-top: -20%;
  }
}

/* Mobile css */
h1.mobile-study-area-title{
  text-align: center;
  color: #fff;
  position: relative;
}

img.mobile-study-area-background{
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}