#nav {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 100;
  /* background-color: $grey; */
  background-color: transparent;
}
#nav.clear {
  background-color: transparent;
}
.navbar {
  height: 100px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 102;
  position: relative;
}
.navbar > .logo {
  text-align: center;
  /* border: 5px solid white; */
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  height: inherit;
  margin: 0 auto;
  width: calc(100px + 45px);
  padding-left: 45px;
}
.navbar > .logo > a {
  //flex-grow: 2;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  font-size: 3.2em;
  height: inherit;
}
.navbar > .logo > a > img {
   height: inherit;
}
.navbar .discover > a {
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid $pink;
  background-color: $pink;
  border-radius: 6px;
  padding: 5px 15px;
  color: $black;
  font-size: 1em;
  letter-spacing: 1px;
}
.navbar .discover > a:hover {
  background-color: $grey;
  color: $pink;
}
.navbar .links {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* hide these extra icons for now on mobile */
  @media only screen and (max-width: 768px) {
    .icon-white {
      display: none;
    }
  }
}
.navbar .links > a {
  margin: 0px 5px;
}

#open-menu {
  width: 30px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  opacity: 1;
  margin-left: 15px;
}
#open-menu span {
  display: inline;
  position: absolute;
  height: 2px;
  width: 100%;
  background: $white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
#open-menu span:nth-child(1) {
  top: 0px;
}
#open-menu span:nth-child(2), #open-menu span:nth-child(3) {
  top: 9px;
}
#open-menu span:nth-child(4) {
  top: 18px;
}
#open-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#open-menu.open span:nth-child(2) {
  transform: rotate(45deg);
}
#open-menu.open span:nth-child(3) {
  transform: rotate(-45deg);
}
#open-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

// Menu styles
.ReactModal__Overlay {
  z-index: 101;
}
.ReactModal__Body--open {
  overflow: hidden;
}
.sliding-menu-pane > .slide-pane__header {
  display: none;
}

.slide-pane__content {
    /* width: 100%; */
    position: relative;
    overflow-y: auto;
    flex: 1 1 auto;
    padding: 0 !important;
}


#menu {
  position: absolute;
  z-index: 101;
  //top: 0;
  //left: 0;
  width: 100vw;
  height: 100vh;
  //background-color: #000000;
  background-image: url('https://res.cloudinary.com/mozaik/image/upload/v1521785678/bokeh-2245355_1920_wp86yq.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.menu-content {
  //margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  //height: calc(100% - 100px);
  height: 100vh;
  background-color: rgba(128, 128, 128, .6);
  //width: 25%;
  //margin: 50px auto 0px auto;
  max-width: 25%;
  min-width: 450px;
  margin: 0 auto;
  padding-top: 75px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.menu-content h3 {
  text-transform: uppercase;
  color: $pink;
}
.menu-content ul {
  list-style: none;
  padding-left: 0px !important;
  text-transform: uppercase;
  color: $black;
  text-align: center;
}
.menu-content ul > li {
  margin-top: 6px;
  margin-bottom: 4px;
  width: 180px;
  font-family: 'Gotham Book Regular';
}
.menu-content ul > li > a {
  color: $black;
  text-decoration: none;
  padding-bottom: 2px;
}
.menu-content ul > li > a:hover ~ .border {
  border-bottom: 1px solid $white;
  animation-duration: 1s;
  animation-name: menuItem;
  margin-bottom: -1px;
  margin-left: auto;
  margin-right: auto;
}
@keyframes menuItem {
  from {
    width: 20px;
  }

  to {
    width: 180px;
  }
}
/* nav-shadow not working yet */
.nav-shadow {
  height: 1px;
  background-color: $grey;
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
  -webkit-box-shadow: 0 4px 4px -2px #000000;
   -moz-box-shadow: 0 4px 4px -2px #000000;
        box-shadow: 0 4px 4px -2px #000000;
}
.social-nav {
  display: flex;
  width: 200px;
  padding-top: 20px;
  a {
    margin: 2px;
  }
}

.icon-white {
  width: 20px;
  height: 20px;
  margin: 15px 0px 0px 15px;
  filter: brightness(0) invert(1);
  cursor: pointer; }

.icon {
  width: 47px;
  height: 53px;
  margin: 0px 15px;
  cursor: pointer; }
