//content
.content {
  margin-top: -100px;
}

// footer
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: #253336;
  color: $white;
    @media only screen and (max-width: 768px) {
    display: block;
    height: 100%;
    background-color: #fff;
  }
}
.footer > .links {
  display: flex;
  justify-content: space-around;
  align-items: top;
    @media only screen and (max-width: 768px) {
    justify-content: space-evenly;
    padding-top: 30px;
  }
}
.footer > .links > ul {
  list-style: none;
  h4 {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 1em;
  }
  a {
    color: $grey-text;
    text-decoration: none;
    font-size: 12px;
  }

  li {
    color: $grey-text;
    font-family: 'Gotham Book Regular'
  }
    @media only screen and (max-width: 768px) {
      h4, a, li{
        color: #212529;
      }
    }
    @media only screen and (max-width: 414px) {
    h4{
        font-size: 15px;
      }
      a, li{
        font-size: 10px;
      }
  }
}

.footer > .social > .links > ul {
  li {
   color: $white;
   font-size: 12px;
   font-family: 'Gotham Book Regular'
   }
}

.footer > .social {
  a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
  }
  .copyright {
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Montserrat Ultra Light';
    color: $grey-text;
  }
  @media only screen and (max-width: 768px) {
    text-align: center;
    .copyright{
      color: #212529;
      font-size: 8px; 
    }
  }
}

.input-newsletter {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid $white;
  padding: 10px 5px;
  color: $white;
  width: 70%;
  margin-bottom: 20px;
}

input.input-newsletter:focus{
  outline: none;
}

@media only screen and (max-width: 768px) {
    .img-resp{
      background-color: #000; 
      border-radius: 100%;
      border: 1px solid #000;
    }
  }
