.school-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
  background-color: $grey;

  .school-info {
    display: flex;
    align-items: center;
  }
  .school-info > img {
    max-width: 100px;
    height: auto;
  }
}
.artwork-slides {
  list-style: none;
  margin: 0px;
  padding: 0px;
  column-count: 3;
  column-gap: 0px;
  line-height: 0;
}
.artwork-slides > li {
  list-style: none;
  display: inline-block;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.artwork-image {
  max-width: 100%;
  height: auto;
}
.school-courses-link {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
