.mobile-agency-container{
	background-color: #292722;


	width: 100%;

	.container{
		padding-top: 150px;
	}
	h1.mobile-agency-header{
		margin-top: 50px;
		margin-bottom: 50px;
		color: white;
		text-align: center;
		font-family: 'Bebas Neue';
		font-size: 3em;
	}
	h1.mobile-agency-subheader{
		font-family: 'Bebas Neue';
		color: white;
		text-align: center;
		margin-bottom: 30px;
	}
	p.mobile-agency-subheader-desc{
		color: white;
		text-align: center;
		font-size: 24px;
	}

	.paper-plane{
	    opacity: 0.3;
	    margin-top: -60px;
	    margin-left: -50px;
	    	img{
	    		width: 100vw;
	    	}
	}
	.mobile-timeline-agency{
		margin-top: -25%;
		.m-timeline-img >img{
			width: 50%;
		}
		.m-timeline-icons{
			margin-left: -100px;
			margin-top: 20%;
			text-align: center;
			.agency-icon{
			  margin-bottom: 20%;
			  align-content: center;
				img.agency-icon-img{
					width: 30%;
				}
				p.agency-icon-label{
					color: #fff;
					font-size: 25px;
					text-transform: uppercase;
				}
			}
		}
	}
	.agency-modal{
		.modal-lg{
			max-width: 100%;
			.modal-content{
				background-color: #fff;
				width: 100%;
				.modal-header{
					background-color: #fff;
					border: 1px solid #fff;
					button.agency-close{
						background-color: #fff;
						border: 1px solid #000;
						position: relative;
    					left: 900px;
					}
				}
				.modal-body{
					background-color: #fff;
					h1{
						color: #000;
						text-align: center;
					}
					p{
						color: #000;
						text-align: center;
					}
				}
			}
		}
	}
}
