.courses-mobile{
  position: relative;
  top: -8px;
  .m-course-card-container {
    border-top: 1px solid $dark-grey;
    position: relative;
  }
  .m-course-card {
    display: flex;
    align-items: top;
    width: 100%;
    
    position: relative;
    padding: 10px;
    padding-top: 30px;
    background: $grey;
  }
  .course-card-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white;
  }
  .course-card-left > .course-buttons {
    width: 100%;
    display: flex;
  }
  .course-buttons > .btn {
    margin-top: 10px;
    width: 100%;
  }
  @media only screen and (min-width: 768px) {
    .course-buttons > .btn {
      width: 50%;
    }
    .course-buttons > .btn:first-child {
      margin-right: 15px;
    }
  }
  .course-card-right {
    width: 47.5%;
    display: flex;
    flex-direction: column;
  }
  .course-card-right > h3 {
    font-size: 25px;
    margin: 5px 2%;
  }
  .course-card-right > .course-info {
    /*border: 2px solid $dark-grey;*/
    width: calc(98% - 9px);
    padding-left: 2%;
    margin-left: 0%;
    padding-right: 5px;
    font-family: 'Montserrat Ultra Light';
    font-size: 12px;
    font: justify;
    color: $white;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .course-info-bit-right {
    /*display: flex; */
    text-align: right;
  }

  .course-info-bit-left {
    /*display: flex; */
    text-align: left;
  }

  .course-info-bit-left {
    /*display: flex; */
    text-align: left;
  }
  .info-bit-content {
    display: flex;
    flex-direction: column;
    margin-left: 3px;
  }
  .m-course-bg {
    padding-bottom: 20%;
      background-color: rgba(144, 144, 144, 0.5);
      margin-top: -1px;
  }
  .info-bits-container {
    display: flex;
  }
  .info-bits-section {
    flex-grow: 1;
    flex-direction: column;
  }
  .card-icon {
    float: right;
  }

  .course-buttons{
    text-align: right;

    .btn{
      background-color: $pink;
      border-radius: 0;
      border: 3px solid $white;
      width: 100px;
    }
  }

  .likesection{
    display: flex;
    flex-direction: column;
    width: 5%;

      h3{
      margin: 0;
      top: -20px;
      position: relative;
      left: 0;
    }
  }

  .m-more-courses{
    width: 100px;
    height: 100px;
    border: 3px solid #FF6D6D;
    border-radius: 50px;
    z-index: 100;
    background-color: #FF6D6D;
    position: absolute;
    right: 15px;
    top: 95%;
    span{
      color: #fff;
      font-size: 100px;
      text-align: center;
      position: relative;
      top: -30px;
    }
  }

  .course-filter{
    text-align: center;
    font-weight: 100;
    color: #000;
  }

  .course-form{
    position: absolute;
    right: -80px;
    top: -30px;
    border: 1px solid #fff;
    z-index: 1;
    background-color: #dc6262;
    height: auto !important;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;


    button{
      background-color: transparent;
      color: #fff;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      outline: 0;
    }
    .hs-form-private{

    input[type="text"], input[type="email"], input[type="tel"]{
      background-color: #fff !important;
      width: 200px;
      color: #000;
    }
  }

  .hs-form .hs-form-field > label {
      color: #fff;
      
  }

  }

  .course-form-2{
    right: -180px !important;
    z-index: 1;
  }


  .course-forms-modal {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
  }

  .course-forms-modal-2 {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
  }
}