.mobile-content {
  .home-container {
    .hero-container {
      .slider {
        .slide {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .slide-body {
            padding: 0 5vw;
            height: 100%;
            width: 100vw;
            position: relative;

            .slide-text {
              color: $white;
              position: absolute;
              bottom: 15%;
              width: calc(100% - 10vw);

              h1 {
                margin: 0;
                margin-bottom: 2vw;

                img {
                  position: absolute;
                  height: 100%;
                  top: 0;
                }
              }

              p {
                font-size: 2vw;
                text-transform: none;
                font-family: 'Bebas Neue';
                width: 50%;
                padding: 0;
                margin: 0;
                margin-bottom: 2vw;
                line-height: 1.25;
              }
            }

           .video-play {
              width: 6vw;
              height: 6vw;
              background-image: url('/images/mobile/home-hero-playbutton.png');
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            }


            .cta-container {
              width: 11vw;
              height: 4vw;
              position: relative;
              svg {
                position: absolute;
                width: 100%;
                height: 100%;

                polyline {
                  fill: none;
                  stroke: $pink;
                  stroke-width: 8%;
                }
              }

              a {
                cursor: pointer;
                position: absolute;
                font-family: 'Bebas Neue';
                font-size: 2vw;
                color: $white;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                text-align: center;
              }
            }
          }

        }

        .slick-dots {
          bottom: 1.5vw;
          li {
            width: 2vw;
            height: 2vw;
            margin: 0px 2vw;
            position: relative;

            button:before {
              content: '';
              border: solid 0.25vw $white;
              border-radius: 50%;
              background-color: transparent;
              opacity: 1;
              position: absolute;
              height: 100%;
              width: 100%;
            }
          }

          .slick-active button:before {
            background-color: $pink;
            border: none;
          }
        }
      }
    }

    .artworks-container {
      position: relative;
      .container-fluid {
        height: 100%;
        .row {
          height: 50%;
          .col {
            padding: 0;
            div {
              background-position: center;
              background-size: cover;
              height: 100%;
              width: 100%;
            }
          }
        }
      }

      .art-modal-image {
        height: 75%;
        background-position: center;
        background-size: cover;
      }

      .art-modal-caption {
        height: 25%;
        position: relative;
        font-family: 'Bebas Neue';

        .caption-text {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: left;
          flex-direction: column;
          justify-content: space-evenly;
          padding-left: 5%;

          p {
            margin-top: 0;
            margin-bottom: 1rem;
            margin: 0;
            font-size: 3vw;
            padding: 0;
            line-height: 1;
            font-weight: 900;
          }
        }

        button {
          position: absolute;
          right: 5%;
          bottom: 50%;
          transform: translateY(50%);
          border: none;
          outline: none;
          background-color: #181818;
          color: white;
          padding: 1vw 5vw;
          font-size: 3vw;
          border-radius: 5vw;
          box-shadow: 1px 1px 4vw #000;

        }
      }
    }
  }
}

// Portrait Styles
@media (orientation: portrait) {
  .mobile-content {
    .home-container {
      .hero-container {
        .slider {
          .slide {
            height: 40vh;
          }
        }
      }

      .artworks-container {
        height: 60vh;
      }
    }
  }
}

// Landscape Styles
@media (orientation: landscape) {
  .mobile-content {
    .home-container {
      .hero-container {
        .slider {
          .slide {
            height: 100vh;
          }
        }
      }

      .artworks-container {
        height: 200vh;
      }
    }
  }
}