.individual-area-container{    
    h1.mobile-study-area-page-heading{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        position: relative;
        font-family: 'Helvetica';
        color: #FFFFFF;
        text-transform: uppercase;
        display: block;
        font-size: 3em;
        font-weight: bold;
        z-index: 1;
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
            @media only screen and (max-width: 414px) {
              font-size: 2em;
              margin-top: 20px;
              padding-top: 20px;
              padding-bottom: 20px;
            }
            @media only screen and (max-width: 414px) {
              font-size: 1.5em;
            }
    }

    img.mobile-study-area-background{
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
    }

    .mobile-careers-container{
      background-color: #fff;
      width: 100%;
      height: auto;
      position: relative;
      margin-top: 15.9%;
        @media only screen and (max-width: 414px) {
         margin-top: 18.4%;
        }
        @media only screen and (max-width: 375px){
         margin-top: 17%;
        }
        @media only screen and (max-width: 360px) {
         margin-top: 13%;
        }
        @media only screen and (max-width: 360px) {
         margin-top: 10%;
        }
    }

    .mobile-sa-description{
      text-align: center;
      padding-top: 50px;
      padding-bottom: 30px;
      color: #000;
      font-size: 15px;
      letter-spacing: 1px;
      margin-right: 15px;
      margin-left: 15px;
        @media only screen and (max-width: 414px) {
          font-size: 10px;
          padding-top: 20px;
          padding-bottom: 10px;
        }
        @media only screen and (max-width: 414px) {
          font-size: 8px;
        }
    }

    .mobile-enquire-button{
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      background-color: #343a40;
      height: 50px;
      border: 2px solid #343a40;
      border-radius: 50px;
      width: 150px;
        p{
          color: #fff;
          font-family: 'Bebas Neue';
          font-size: 30px;
          padding-left: 30px;
          padding-right: 30px;
        }
        @media only screen and (max-width: 414px) {
          width: 80px;
          height: 30px;
          margin-bottom: 30px;
          p{
            padding-left: 8px;
            padding-right: 10px;
            margin-bottom: 0px;
            font-size: 20px;
            position: absolute;
            top: 107px;
          }
        }
        @media only screen and (max-width: 414px) {
          width: 60px;
          height: 25px;
          p{
           top: 96px;
           font-size: 15px;
           padding-left: 4px;
          }
        }
        @media only screen and (max-width: 320px) {
          p{
           top: 108px;
          }
        }
    }

    .mobile-career-list{
      width: 100%;
      height: 20vh;
      background-color: #212529;
        h1{
          text-align: center;
          color: #fff;
          font-family: 'Gotham Bold';
          font-weight: bold;
          font-size: 8vw;
        }
        p{
          text-align: center;
          color: #fff;
          font-size: 15px;
          padding-left: 50px;
          padding-right: 50px;
        }
         @media only screen and (max-width: 414px) {
          h1{
            font-size: 7vw;
          }
          p{
            font-size: 10px;
          }
         }
         @media only screen and (max-width: 320px) {
           p{
             font-size: 8px;
           }
         }
    }
}