.school-details-container{
	.m-school-heading-container {
	  /* background-color: $grey; */
	  background-color: blue;
	  background-size: cover;
	  background-position: bottom;
	  width: 100%;
	  height: 50vh; 
	}
	.school-heading {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  margin-left: auto;
	  margin-right: auto;
	  padding-top: 30%;
	  width: 100%;
	  box-sizing: border-box;
	  .school-info {
	    display: flex;
	    align-items: center;
	  }

	  .school-info h1 {
	    text-align: center !important;
	    width: 100%;
	    font-size: 40pt;
	    font-family: 'Gotham Bold';
	    font-weight: bold;
	    color: $white;
	  }
	  .school-logo-header img {
	    margin-right: 20px;
	    max-width: 150px;
	    height: auto;
	    background-color: $grey;
	    /*background: none;*/
	  }
	  .school-name {
	    font-family: 'Montserrat Ultra Light';
	  }
	}
	.m-school-heading-overview {
	  /* background-color: $grey; */
	  background-color: blue;
	  background-size: cover;
	  background-position: bottom;
	  width: 100%;
	  height: 50vh;
	}
	.m-school-overview{
	  background-color: rgba(255, 255, 255, 0.8);
	  height: 50vh;
	  width: 100%;
	  p{
	  	font-size: 30px;
	  	font-color: #000;
	  	text-align: center;
	  	padding: 30px 150px 0px 150px;
	  }
	}

	.m-school-links1{
	   width: 100%;
	   display: flex;
	   justify-content: center;
	   flex-direction: row;
	   padding-top: 60px; 
	    .m-school-link{
	      margin-left: 20px;
	      margin-right: 20px;
    	  background-color: #000;
          width: 30%;
          padding: 20px;
    	  border-radius: 10px;
	    }
	    .m-btn{
	      text-align: center;
	      letter-spacing: 0px;
	      color: white;
	      font-size: 30px;
	      
	    }
	 }
	 .m-school-links2{
	   width: 100%;
	   display: flex;
	   justify-content: center;
	   flex-direction: row;
	   padding-top: 60px; 
	    .m-school-link{
	      margin-left: 20px;
	      margin-right: 20px;
    	  background-color: #000;
          width: 30%;
          padding: 20px;
    	  border-radius: 10px;
    	  text-align: center
	    }
	    .m-btn{

	      letter-spacing: 0px;
	      color: white;
	      font-size: 30px;
	      
	    }
	 }
	.modal-x{
	    margin-top: -50%;
	}
	

	// student work section
	.m-student-work-header{
	  text-align: center;
	  h1{
       padding: 20px;
	   color: #fff;
	   font-size: 4em;
	  }
	}
	.m-student-work{
	  height: 90vh;
	  background-color: red;
	}

	.m-student-work > p{
	  margin: 0;
	}

	.m-school-overview-container{
	  display: flex;
	  justify-content: space-between;
	  align-items: top;
	  /* height: 100vh; */
	  text-align: center;
	  position:relative;
	  background-size: cover;
	  background-position: center;

	  .scroll-down{
	    position: absolute;
	    bottom: -25px;
	    left: 46%;
	    width: 100px;
	  }

	  h1{
	    margin: 0;
	  }

	  h2{
	    font-size: 30pt;
	    text-align: center;
	  }

	  .school-logo{
	    width: 20%;
	    text-align: left;

	    img{
	      width: 80%;
	      margin-top: 100px;
	    }
	  }
	  .school-overview{
	    width: 30%;
	    padding: 5px;
	  }
	  .school-fees{
	    width: 30%;
	    padding: 5px;
	  }
	  
	  .details-box{
	    background-color: white;
	    width: 100%;
	    position: relative;
	    top: -50px;
	    padding-top: 40px;
	    padding-bottom: 20px;
	    height: 580px; 
	    box-sizing: border-box;
	    overflow-y: auto;

	    p{
	      padding: 0 30px;
	      padding-bottom: 20px;
	      font-size: 15px;
	    }

	    h3{
	      color: #000;
	      text-transform: uppercase;
	      font-size: 15pt;
	      margin: 0;
	    }
	        ul {
	      list-style: none;
	      margin: 0px;
	      padding: 0px;
	      padding-bottom: 20px;
	      font-size: 15px;
	    }
	    ul > li {
	      padding: 0 30px;
	      padding-top: 5px;
	      padding-bottom: 0px;
	    }

	  }
	    .details-box::-webkit-scrollbar {
	    width: 7px;
	    }

	    .details-box::-webkit-scrollbar-track {
	        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	        /* border-radius: 10px; */
	    }

	    .details-box::-webkit-scrollbar-thumb {
	       /* border-radius: 10px; */
	        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	    }
  	}
  	//other section
	.m-other-section{
	  display: flex;
	  flex-direction: column;
	  position: relative;
      top: -8px;
	  .locations{
	    width: 100%;
	    background-color: blue;
	  }
	  .facilities{
	    width: 100%;
	    background-color: red;
	  }
	  .alumni{
	    width: 100%;
	    background-color: blue;
	    margin: 0 !important;
	    overflow-x: hidden;
	  }

	  .locations, .facilities{

	    .other-section-box{
	      .hover-box{
	        p{
	          text-align: center !important;
	          padding: 20px 20px !important;
	          color: $white !important;
	        }
	     }
	    }
	  }

	  .other-section-box{
	    width: 100%;
	    height: 60vh;
	    display: flex;
	    align-items: center;

	    .hover-box{
	      position: absolute;
	      z-index: 200;
	      width: 100%;
	      height: 60vh;
	      background-color: $black;
	      opacity: 0;
	      
	    }

	    h2{
	      width: 50%;
    	  text-align: center;
          color: #FFFFFF;
          background-color: $grey;
          padding: 30px 0;
          cursor: pointer;
          border-radius: 50px;
          margin: auto;
	    }
	  }

	    .other-section-box:hover{
	      .hover-box{
	        opacity: 1;
	      }
	    }  
	}

	//school contact
	.m-school-contact{
	  .website{
	    width: 100%;
	    text-align: center;
	    box-sizing: border-box;
	    a{
	      color: $white;
	      font-family: 'Bebas Neue';
	      font-size: 40pt;
	      text-decoration: none;
	      font-weight: bold;
	      margin-top: 100px;

	    }
	  }  
	}

}
// study areas
.mobile-study-areas{ 
	.m-study-areas-box{
	  background-color: #FF6D6D;
	  h1{
	    padding: 20px;
	    color: #fff;
	    font-size: 4em;
	    text-align: center;
	  }
	}
	.choose-your-study-areas{
	  position: relative;
	  top: -8px;
	  bottom: 0px;
	  background-color: #fff;
	  border-top: 1px solid #fff;
	  .panel-heading{
	  	padding: 80px;
	  	h4.panel-title > a{
	  	 font-family: 'Bebas Neue';
    	 font-size: 4vw;
    	 color: #000000;
	  	}
	  }
	  .study-area-group{
	  	text-align: center;
	  	font-size: 3vw;
	  	color: #fff;
	  	text-transform: uppercase;
	  	font-weight: bold;
	  	.study-area-list{
	  		border: 2px solid #000;
	  		background-color: #212529;
	  		padding: 20px;
	  	}
	  }
	}
}