.mobile-discover-container {
    padding: 20vw 3vw 5vw 3vw;
    font-family: 'Bebas Neue';
    font-size: 3vw;

    // Applicable to all sections
    .default-button {
      border: none;
      outline: none;
      border-radius: 1vw;
      background-color: white;
      color: #000;
      width: 100%;
      padding: 2vw 0;
      box-shadow: 1vw 1vw 1vw rgba(0, 0, 0, 0.5);
  }
// 'Special' buttons (create here if special is used in more than one section)
    .pink-btn {
      background-color: $pink;
      color: $white;
    

      &.plus {
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        padding: 2vw 2.3vw;
        position: absolute;
        bottom: -5vw;
        right: -0.5vw;

        hr {
        width: 4.25vw;
        border: 0.2vw solid $white;
        background-color: $white;
        margin: 0 auto;

        &.vertical {
          transform: rotate(90deg);
        }
      }
    } 

    } 
    .grid {
      padding-bottom: 2vw;
      position: relative;    
    }

    .col {
      padding: 1vw;  
    }

    .header {
      margin: auto;
      text-align: center;
      padding-bottom: 5vw;

      h1 {
        font-family:  'Montserrat Extra Bold';
        color: $white;
        font-size: 7vw;
      }
    }

    // Search Bar
    form {
      text-align: center;
      margin-bottom: 2vw;
      input {
        width: 55%;
        border: none;
        border-radius: 1vw;
        padding: 0.5vw 2vw;
        background-color: $white;

        color: #000;

        &::placeholder {
          color: #000;
        }
      }

    }

    // Country List 
      .countries-grid { 
        padding: 0 2vw;
        .country-button {
          padding: 0 1vw;
        }
    }

    // Disciplines List
      .disciplines-section {
        text-align: center;
        padding-bottom: 2vw;
         .clear-filter {
           border-radius: 0;
           border: solid 0.25vw $white;
           width: 35%;
           padding: 1vw 0;
    }
  }
}


    