.adv-search-section {
  position: relative;
  padding: 13vw 2vw 2vw 2vw;
  text-align: center;

  .adv-search-btn {
    position: absolute;
    width: 100vw;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 0;
    top: 0;
  }

  .qpl {
    padding-bottom: 2vw;

    .default-button {
      padding: 2vw 7vw;
      margin-bottom: 2vw;
      box-shadow: none;
      text-align: left;

      span {
        float: right;
        i {
          font-size: 4vw;
        }
      }

      &.price-range-btn {
        position: relative;

        // Range Slider styles
        @import './priceRangeSlider';

      }

    }
  }

  .location-btns {
    margin: 0 auto;
    padding-bottom: 7vw;

    button {
      width: 20%;
      margin: 0 2vw;
      font-family: 'Montserrat Light';
      font-size: 2vw;
      padding: 0.5vw 0;
      background-color: white;
    }
  }

  .submit-btn {
    width: 60%;
    border-radius: 5vw;
    margin-bottom: 2vw;
  }

}