// Styles for sliding pane
.ReactModalPortal {
  .mobile-menu-sliding-pane {
    height: auto;
    background: none;

    .slide-pane__header {
      position: relative;
      background-color: $grey;
      display: block;
      height: 30vw;
      flex: none;

      .slide-pane__close {
        position: absolute;
        right: 0;
        z-index: 4;
        color: $white;
        margin: 0;
        padding: 2vw;
        div {
          font-size: 7vw;
          line-height: 1;
        }
      }
      .slide-pane__title-wrapper {
        position: absolute;
        height: 70%;
        width: 100%;
        margin: 0;
        margin-top: 2vw;

        .slide-pane__title {
          position: relative;
          height: 100%;
          max-width: 100%;
          img {
            position: absolute;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .slide-pane__content {
      background-color: rgba(24, 24, 24, 0.75);
      font-family: 'Montserrat Light';
      ul {
        list-style: none;
        padding: 0 0 2vw 15vw;
        margin: 0;

        li {
          padding: 5vw 0;
          .icon {
            height: 10vw;
            width: 10vw;
            margin: 0 3vw 0 0;
            display: inline-block;
            vertical-align: middle;
          }
          a {
            text-decoration: none;
            color: $white;
            font-size: 3.5vw;
            &.active {
              border-bottom: 0.5vw solid $pink;
              pointer-events: none;
              cursor: default;
            }
          }
        }
      }
    }
  }

  .mobile-menu-sliding-pane-overlay {
    z-index: 901;
  }
}

// Styles for navbar
.mobile-menu-container {
  position: fixed;
  top:0;
  z-index: 900;
  width: 100%;
  font-family: 'Montserrat Regular';
  .navbar-container {
    .bar-1 {
      height: 5vw;

      a {
        float: right;
        height: inherit;
        font-size: 2vw;
        color: white;
        background-color: $pink;
        text-decoration: none;
        border: none;
        outline: none;
        padding: 1vw 1.5vw;
      }
    }

    .bar-2 {
      width: 100%;
      height: 8vw;
      background-color: rgba(24, 24, 24, 0.75);
      padding: 0 3vw;
      position: relative;
      .logo {
        width: 8vw;
        height: 100%;
        text-align: center;
        margin: 0 1vw;
        img {
          height: 100%;
        }
      }
      .menu-icon-slot {
        padding: 1.5vw 0;
        position: absolute;
        width: 8vw;
        height: 100%;
        top: 0;
        right: 3vw;
        #mobile-menu-icon {
          height: 100%;
          width: 100%;
          position: relative;
          overflow: hidden;

          hr {
            position: absolute;
            width: 100%;
            color: white;
            border: 0.2vw solid $white;
            margin: 0;// Styles for sliding pane
.ReactModalPortal {
  .mobile-menu-sliding-pane {
    height: auto;
    background: none;

    .slide-pane__header {
      position: relative;
      background-color: $grey;
      display: block;
      height: 30vw;
      flex: none;

      .slide-pane__close {
        position: absolute;
        right: 0;
        z-index: 4;
        color: $white;
        margin: 0;
        padding: 2vw;
        div {
          font-size: 7vw;
          line-height: 1;
        }
      }
      .slide-pane__title-wrapper {
        position: absolute;
        height: 70%;
        width: 100%;
        margin: 0;
        margin-top: 2vw;

        .slide-pane__title {
          position: relative;
          height: 100%;
          max-width: 100%;
          img {
            position: absolute;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .slide-pane__content {
      background-color: rgba(24, 24, 24, 0.75);
      font-family: 'Montserrat Light';
      ul {
        list-style: none;
        padding: 0 0 2vw 15vw;
        margin: 0;

        li {
          padding: 5vw 0;
          .icon {
            height: 10vw;
            width: 10vw;
            margin: 0 3vw 0 0;
            display: inline-block;
            vertical-align: middle;
          }
          a {
            text-decoration: none;
            color: $white;
            font-size: 3.5vw;
            &.active {
              border-bottom: 0.5vw solid $pink;
              pointer-events: none;
              cursor: default;
            }
          }
        }
      }
    }
  }

  .mobile-menu-sliding-pane-overlay {
    z-index: 901;
  }
}

// Styles for navbar
.mobile-menu-container {
  position: fixed;
  top:0;
  z-index: 900;
  width: 100%;
  font-family: 'Montserrat Regular';
  .navbar-container {
    .bar-1 {
      height: 5vw;

      a {
        float: right;
        height: inherit;
        font-size: 2vw;
        color: white;
        background-color: $pink;
        text-decoration: none;
        border: none;
        outline: none;
        padding: 1vw 1.5vw;
      }
    }

    .bar-2 {
      width: 100%;
      height: 8vw;
      background-color: rgba(24, 24, 24, 0.75);
      padding: 0 3vw;
      position: relative;
      .logo {
        width: 8vw;
        height: 100%;
        text-align: center;
        margin: 0 1vw;
        img {
          height: 100%;
        }
      }
      .menu-icon-slot {
        padding: 1.5vw 0;
        position: absolute;
        width: 8vw;
        height: 100%;
        top: 0;
        right: 3vw;
        #mobile-menu-icon {
          height: 100%;
          width: 100%;
          position: relative;
          overflow: hidden;

          hr {
            position: absolute;
            width: 100%;
            color: white;
            border: 0.2vw solid $white;
            margin: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            background-color: $white;

            &:nth-child(1) {
              top: 0;
            }
            &:nth-child(2) {
              border: 0.1vw solid;
              top: 50%;
            }
            &:nth-child(3) {
              border: 0.1vw solid;
              bottom: 50%;
            }
            &:nth-child(4) {
              bottom: 0;
            }
          }

          &.open {
            hr:nth-child(1), hr:nth-child(4) {
              border: none;
            }
            hr:nth-child(2){
              transform: rotate(45deg);
            }
            hr:nth-child(3){
              transform: rotate(-45deg);
            }
          }
        }
      }
    }

  }
}

            transform: rotate(0deg);
            transition: .25s ease-in-out;
            background-color: $white;

            &:nth-child(1) {
              top: 0;
            }
            &:nth-child(2) {
              border: 0.1vw solid;
              top: 50%;
            }
            &:nth-child(3) {
              border: 0.1vw solid;
              bottom: 50%;
            }
            &:nth-child(4) {
              bottom: 0;
            }
          }

          &.open {
            hr:nth-child(1), hr:nth-child(4) {
              border: none;
            }
            hr:nth-child(2){
              transform: rotate(45deg);
            }
            hr:nth-child(3){
              transform: rotate(-45deg);
            }
          }
        }
      }
    }

  }
}
