extends ../layouts/mobile


block content
  .home-container
    !=HeroMob

    !=Artworks

    !=StudyAreas

    .discover-container
      .background

      .discover-content
        h1
          | EXPLORE THE CREATIVE INDUSTRY
          br
          span SEARCH AND PLAY

        .icon
          img(src="/images/mobile/icons/discover.png")

        button.button DISCOVER

    .footnotes
      h1.header
        strong YOU MAKE THE DECISION
        br
        |   WE DO THE REST
      p.header So you have decided to pursue a creative - way to go!

      p
        | Our goal is to connect the right student to the right creative school. Choosing what to study and where to study is one of the most important decisions you will make in your life journey... it is also not an easy decision, it can be daunting, confusing and scary.
        br
        | Mozaik can help you join the dots between choosing the right courses all the way up until finding that dream job. Our personalised advice and honest counseling services is free of charge to students.
        br
        | We are funded by reputable creative schools from around the globe.
        br
        | Our Mozaik team are here to help you step by step throughout the application process. The team can assist you with selecting the right course, filling out the application form, submitting visa and insurance documentations, book travel arrangements, help you find accomodation and make your first day less daunting by providing an arrival welcome pack.

      button.button.find-out-more FIND OUT MORE

      .icon
        img(src="/images/mobile/home-footnotes-paperPlane.png")

      h1.subscribe-header GET THE INSIDE SCOOP

      input(placeholder='EMAIL')

      button.button.subscribe SUBSCRIBE


append javascripts