extends ../layouts/mobile


block content
  .home-container
    !=HeroMob

    !=Artworks

    !=StudyAreas

    .discover-container
      .background

      .discover-content
        h1
          | EXPLORE THE CREATIVE INDUSTRY
          br
          span SEARCH AND PLAY

        .icon

        button.button DISCOVER


append javascripts