extends ../layouts/mobile

block content
 .school-details-container
  .m-school-heading-container(style={'background-image': 'url('+ school.header_image_1 +')'})
    .school-heading
      .school-info
        h1= school.name
      .school-logo-header
        img(src=school.logo)
  .m-school-heading-overview(style={'background-image': 'url('+ school.header_image_1 +')'})
    //img(src="https://res.cloudinary.com/mozaik/image/upload/s--IWU4EuQR--/v1509766596/VFS/school_gallery/VFS_Entrance.jpg")
    //img(src="https://res.cloudinary.com/mozaik/image/upload/s--lqt7Aaih--/v1524639984/FSU/campus_photography/Full_Sail_University-1.jpg")
    //img(src="https://res.cloudinary.com/mozaik/image/upload/v1507266743/AFTRS/facilities/Inside_AFTRS.jpg")
    //img(src="https://res.cloudinary.com/mozaik/image/upload/v1522938587/NIDA/gallery_of_pics/Atrium-banner-1.jpg")
    .m-school-overview
     p=school.overview
     .m-school-links1
       .m-school-link
         a(href='#' class='m-btn')
          span Price
          span.caret
       .m-school-link
         a(href='#' class='m-btn')
          span Location
          span.caret
     .m-school-links2
       .school-forms-modal
       .m-school-link
         a(href='#' onclick="createCGForm('"+ school.formidsc +"')" class='m-btn')
          span Course Guide
       a#cg_link(style="display:none;" href=school.courseGuide download target="_blank")
       .m-school-link
         a(href='#' onclick="createSForm('"+ school.formidse +"')" class='m-btn')
          span Enquire
       .m-school-link
         a(href='#' onclick="createSForm('"+ school.formidsa +"')" class='m-btn')
          span Apply 
  .m-student-work-header
   h1 Student Works
  .m-student-work
   !=schoolMobileLightBox

  
  