extends ../layouts/mobile

block content
 .school-details-container
  .school-heading-container(style={'background-image': 'url('+ school.header_image_1 +')'})
    .school-heading
      .school-info
        //- img(src=school.logo)
        h1= school.name
      .school-links.video-link
        a(href='#myModal',data-toggle='modal', data-target='#myModal')
          img(src="/images/buttons/playvideo.png")
          // Modal
          #myModal.modal.modal-school-video
           .modal-body.modal-body-school-video
             p.button.modal-close-button-school-video(onclick="stopSchoolVid('" + school.video + "')") &times;
             iframe.school-video(width='100%', height='100%', src= school.video, frameborder='0', allowfullscreen='')