.discover-container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5vw 0;
  background: #666;

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url('https://res.cloudinary.com/mozaik/image/upload/s--Vsx3VT7a--/v1534125144/1363134_st3wgv.jpg');
    background-position: center;
    background-size: cover;
  }

  .discover-content {
    z-index: 1;
    background: none;

    h1 {
      font-family: 'Montserrat Bold';
      color: $grey;
      font-size: 4.5vw;
      text-shadow: 0.25vw 0.25vw 2vw rgba(0, 0, 0, 0.5);

      span {
        color: $pink;
      }
    }

  }
}